/*  GLOBAL  */

body {
    background-color: #2e3141;
}

h2,
h6 {
    color: #b6b6b6;
    text-align: center;
    margin: 25px 0 25px 0;
    padding-bottom: 25px;
    font-family: Offside;
}

ul,
p {
    color: #b6b6b6;
    font-family: Offside;
}

.line {
    margin: 25px auto;
    height: .5px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#2e3141), to(#2e3141), color-stop(50%, #ebbd24));
}


/* START BLOG */

.tm-padding-top-bottom-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tm-blog-h3 {
    color: #FFDF00;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: Offside;
}

.tm-blog-h3:hover {
    color: #b6b6b6;
    text-decoration: none;
}

.blog-wrapper {
    border: 1px solid rgb(66, 66, 66);
    border-radius: 2px;
    text-align: center;
    padding: 80px 40px 80px 40px;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    font-family: Offside;
}

.blog-wrapper:hover {
    border-color: #FFDF00;
    text-decoration: none;
}

.img2 {
    padding: 10px;
    border-radius: 20px;
}

.blogposts {
    width: 600px;
    margin: auto 0 auto 350px;
}


/* END BLOG */


/* START FAQ */

.tm-FAQ-h3 {
    color: #ebbd24;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: Offside;
}

.tm-FAQ-h3:hover {
    color: #b6b6b6;
    text-decoration: none;
}

.tm-title-h3 {
    color: #FFDF00;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    font-family: Offside;
}

.tm-title-h3:hover {
    color: #b6b6b6;
    text-decoration: none;
}

#myBtn {
    background-color: rgb(66, 66, 66);
    border: none;
    color: #b6b6b6;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    font-family: Offside;
    outline: none
}

#more {
    display: none;
}

#myBtn:hover {
    background-color: rgb(66, 66, 66);
    border: none;
    color: #FFDF00;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    font-family: Offside;
    outline: none
}

a {
    color: #FFDF00;
}


/* END FAQ */


/* FOOTER  */

.pages {
    color: #2e3141;
}

.pages:hover {
    text-decoration: none;
    color: #b6b6b6;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #FFDF00;
    color: #2e3141;
    font-family: Offside;
    margin-top: 40px;
    text-decoration: none;
    opacity: 70%;
}

.foot {
    color: #2e3141;
    text-decoration: none;
}

.fas {
    color: #2e3141;
}


/* MEDIA */

@media (max-width:800px) {
    .img2 {
        width: 100%;
        height: auto;
    }
}