* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: rgba(156, 151, 151, 0.4);
    height: 100vh;
}

.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .video-background {
        width: auto;
        height: 100%;
    }
}

.logo {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.welcome-msg {
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(243, 238, 233);
    top: 150px;
}

.welcome-msg {
    font-size: 115px;
    font-weight: 115;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.btn {
    font-size: 18px;
    color: #f5de0d;
    margin: 5px;
    padding: 7px 22px;
    text-decoration: none;
    border: 1 px solid rgb(15, 10, 8);
    border-radius: 25px;
}

.btn:hover {
    background: rgba(245, 221, 4, 0.425);
}

a {
    text-decoration: none;
}

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    color: rgb(252, 216, 14);
}

.nav-area {
    cursor: pointer;
    color: rgb(247, 223, 12);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-area li a {
    color: rgb(3, 3, 1);
}

.nav-area li a:hover {
    color: rgb(251, 255, 254);
}

.btn-area {
    cursor: pointer;
    color: rgb(245, 213, 7);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
}

.high:hover {
    cursor: pointer;
    color: rgb(241, 226, 13);
}